[Desktop Entry]
# this file is for linux users
# replace the exec, path, and icon varibles with the absolute path you cloned this repo to
# copy this file to ~/.local/share/applications
Name=AddressLabel
Exec=/the-path-of-this-repo-here/gui.py
Path=/the-path-of-this-repo-here/
Comment=Genereates a pdf from addresses
Terminal=true
Icon=/the-path-of-this-repo-here/icon.png
Type=Application
